<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>

    <div class="create-account">
     <form class="create" role="form" accept-charset="UTF-8" name="js-create-account-submit-form">
    	<fieldset>
    	<h2>Create Account</h2>
            <input type="text" class="js-fName" name="fName" placeholder="First Name" required/>
            <input type="text" class="js-lName" name="lName" placeholder="Last Name" required/>
    		<input type="text" class="js-uname" name="uname" placeholder="username"/>
    		<input type="password" class="js-pword" name="js-pword" placeholder="password"/>
            <input type="text" class="js-snpV" name="snpV" placeholder="SNP Variant" >
    		<button class="create-account-button" type="submit">Submit</button>
    	</fieldset>
    </form>
    </div>

    <div class="create-account-username-taken" style="display: none;">
    <form class="create" role="form" accept-charset="UTF-8" name="js-create-account-submit-form-username-taken">
        <fieldset>
        <h2>Create Account</h2>
            <input type="text" class="js-fName" name="fName" placeholder="First Name"/>
            <input type="text" class="js-lName" name="lName" placeholder="Last Name"/>
            <input type="text" class="js-uname error-msg-before" name="uname" placeholder="username"/>
            <p class="error-msg">** username already taken</p>
            <input type="password" class="js-pword error-msg-after" name="js-pword" placeholder="password"/>
            <input type="text" class="js-snpV" name="snpV" placeholder="SNP Variant" >
            <button class="create-account-button" type="submit">Submit</button>
        </fieldset>
    </form>
    </div>

    <div class="create-account-pword-missing" style="display: none;">
    <!-- <p class="error-msg">Please enter a password of at least 10 characters.</p> -->
     <form class="create" role="form" accept-charset="UTF-8" name="js-create-account-submit-form-password-missing">
       <fieldset>
        <h2>Create Account</h2>
            <input type="text" class="js-fName" name="fName" placeholder="First Name"/>
            <input type="text" class="js-lName" name="lName" placeholder="Last Name"/>
            <input type="text" class="js-uname" name="uname" placeholder="username"/>
            <input type="password" class="js-pword error-msg-before" name="js-pword" placeholder="password"/>
            <p class="error-msg">** password must be at least 10 characters long</p>
            <input type="text" class="js-snpV error-msg-after" name="snpV" placeholder="SNP Variant" >
            <button class="create-account-button" type="submit">Submit</button>
        </fieldset>
    </form>
    </div>

     <div class="create-account-pword-too-long" style="display: none;">
    <!-- <p class="error-msg">Please enter a password of no more than 72 characters.</p> -->
     <form class="create" role="form" accept-charset="UTF-8" name="js-create-account-submit-form-password-too-long">
        <fieldset>
        <h2>Create Account</h2>
            <input type="text" class="js-fName" name="fName" placeholder="First Name"/>
            <input type="text" class="js-lName" name="lName" placeholder="Last Name"/>
            <input type="text" class="js-uname" name="uname" placeholder="username"/>
            <input type="password" class="js-pword error-msg-before" name="js-pword" placeholder="password"/>
            <p class="error-msg">** password must be no more than 72 characters long</p>
            <input type="text" class="js-snpV error-msg-after" name="snpV" placeholder="SNP Variant" >
            <button class="create-account-button" type="submit">Submit</button>
        </fieldset>
    </form>
    </div>

    <div class="create-account-username-missing" style="display: none;">
<!--     <p class="error-msg">Please enter a username of at least one character.</p>
 -->    <!--  <form role="form" accept-charset="UTF-8" class="js-create-account-submit-form"> -->
     <form class="create" role="form" accept-charset="UTF-8" name="js-create-account-submit-form-username-missing">
        <fieldset>
        <h2>Create Account</h2>
            <input type="text" class="js-fName" name="fName" placeholder="First Name"/>
            <input type="text" class="js-lName" name="lName" placeholder="Last Name"/>
            <input type="text" class="js-uname error-msg-before" name="uname" placeholder="username"/>
            <p class="error-msg">** username missing</p>
            <input type="password" class="js-pword error-msg-after" name="js-pword" placeholder="password"/>
            <input type="text" class="js-snpV" name="snpV" placeholder="SNP Variant" >
            <button class="create-account-button" type="submit">Submit</button>
        </fieldset>
    </form>
    </div>

    <div class="create-account-username-whitespace" style="display: none;">
<!--     <p class="error-msg">Username may not begin or end with whitespace.</p>
 -->    <form class="create" role="form" accept-charset="UTF-8" name="js-create-account-submit-form-username-whitespace">
        <fieldset>
        <h2>Create Account</h2>
            <input type="text" class="js-fName" name="fName" placeholder="First Name"/>
            <input type="text" class="js-lName" name="lName" placeholder="Last Name"/>
            <input type="text" class="js-uname error-msg-before" name="uname" placeholder="username"/>
            <p class="error-msg">** username may not begin or end with whitespace</p>
            <input type="password" class="js-pword error-msg-after" name="js-pword" placeholder="password"/>
            <input type="text" class="js-snpV" name="snpV" placeholder="SNP Variant" >
            <button class="create-account-button" type="submit">Submit</button>
        </fieldset>
    </form>
    </div>

     <div class="create-account-password-whitespace" style="display: none;">
<!--     <p class="error-msg">Password may not begin or end with whitespace.</p>
 -->    <form class="create" role="form" accept-charset="UTF-8" name="js-create-account-submit-form-password-whitespace">
        <h2>Create Account</h2>
            <input type="text" class="js-fName" name="fName" placeholder="First Name"/>
            <input type="text" class="js-lName" name="lName" placeholder="Last Name"/>
            <input type="text" class="js-uname" name="uname" placeholder="username"/>
            <input type="password" class="js-pword error-msg-before" name="js-pword" placeholder="password"/>
            <p class="error-msg">** password may not begin or end with whitespace</p>
            <input type="text" class="js-snpV error-msg-after" name="snpV" placeholder="SNP Variant" >
            <button class="create-account-button" type="submit">Submit</button>
        </fieldset>
    </form>
    </div>

    <div class="create-account-snpVariant-incorrect" style="display: none;">
<!--     <p class="error-msg">Please enter TT, GT, or GG in the SNP Variant field (or leave it empty for now).</p>
 -->     <form class="create" role="form" accept-charset="UTF-8" name="js-create-account-submit-form-snpVariant-incorrect">
        <fieldset>
        <h2>Create Account</h2>
            <input type="text" class="js-fName" name="fName" placeholder="First Name"/>
            <input type="text" class="js-lName" name="lName" placeholder="Last Name"/>
            <input type="text" class="js-uname" name="uname" placeholder="username"/>
            <input type="password" class="js-pword" name="js-pword" placeholder="password"/>
            <input type="text" class="js-snpV error-msg-before" name="snpV" placeholder="SNP Variant" >
            <p class="error-msg">** enter TT, GT, or GG</p>
            <button class="create-account-button" type="submit">Submit</button>
        </fieldset>
    </form>
    </div>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
	<script type="text/javascript" src="/js/create-account.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/main.css">

</body>
</html>