<!DOCTYPE html>
<html>
<head>
	<title>Genehack</title>
</head>

<body>

 <!--  <header>
    <h1>Welcome to Genehack</h1>
  </header> -->

  <main class="intro">
  	<h2>Welcome to Genehack</h2>
    <p>
       This website provides an educational experience regarding the A1298C MTHFR mutation.
    </p>
	<button class="create-account-button"><a href="/create-account">Create Account</a></button>
  </main>

  <footer class="footer">
    <p>Already have an account? <a href="/login">Log In</a></p>
  </footer>

</body>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<link rel="stylesheet" type="text/css" href="/css/main.css">
</html>