<!DOCTYPE html>
<html>
<head>
	<title>Genehack</title>
</head>

<body>

  <main class="intro">
  	<h2>Welcome to Genehack</h2>
    <div class="intro">
       Genehack provides an educational experience regarding a mutation that may occur at the 1298 locus of the MTHFR gene. The MTHFR gene is important in folate metabolism, and single nucleotide mutations (SNPs) in this gene can have serious health implications.  Genetic testing services such as 23andMe can tell you which MTHFR 1298 variant you have (TT, GT, or GG).  But even if you do not yet have this information, Genehack can help you to understand the impact that each of these variants might have on your mental and physical health.  
    </div>
	  <button class="create-account-button"><a href="/create-account">Create Account</a></button>
  </main>

  <footer class="footer">
    <p>Already have an account? <a href="/login">Log In</a></p>
  </footer>

</body>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<link rel="stylesheet" type="text/css" href="/css/main.css">
</html>