<!DOCTYPE html>
<html>
<head>
	<title>Account Profile</title>
</head>
<body>

<main class="row profile-page">
<div class="col-12">

  <div class="profile profile-view" style="display: none;">
    <h2>Account Information</h2>
    <div class="profile-information">
    </div>
  </div>

  <div class="profile-actions js-profile-actions">
    <button class="js-view-report medium-button" type="click">View Report</button>
    <button class="js-edit-account medium-button" type="click">Edit Variant</button>
    <button class="js-logout medium-button" type="click">Log Out</button>
    <button class="js-delete-account medium-button" type="click">Delete Account</button>
  </div>
    
  <div class="js-profile-delete-sure delete-sure" style="display: none;">
    <p class="sure-msg">Are you sure you want to delete your account?</p>
    <button class="js-delete-account-sure long-button" type="click">Delete</button>
    <button class="js-back-to-profile long-button bottom-button" type="click">Back</button>
  </div>

  <div class="profile-error-no-report no-report" style="display: none;">
    <p class="no-report-msg">You must have a MTHFR 1298 variant in your profile before a report can be generated!  Please add one by clicking below.</p>
    <button class="js-edit-account long-button bottom-button" type="click">Edit Account</button>
  </div>

</div>
</main>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
	<script type="text/javascript" src="/js/account.js"></script>
	<script type="text/javascript" src="/js/logout.js"></script>
  <script type="text/javascript" src="/js/delete-account.js"></script>
  <link rel="stylesheet" type="text/css" href="/css/main.css">

</body>
</html>