<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	
<p>Review Page</p>

 <form role="form" accept-charset="UTF-8" class="js-back-to-profile">
        <button type="submit">Return to Profile Page</button>
 </form>

 <div class="review-TT" style="display: none;">
      <p>You are a lucky one!</p>
 </div>

 <div class="review-GT" style="display: none;">
      <p>Congrats, you are only 30% compromised!</p>
 </div>

 <div class="review-GG" style="display: none;">
      <p>Sorry, but your are up to 70% compromised!</p>
 </div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
  <script type="text/javascript" src="review.js"></script>

</body>
</html>