<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>

<main class="row">
 <div class="col-12 review">
  <h2>Genehack Report</h2>

 <div class="review-TT" style="display: none;">
   <p>MTHFR A1298C is involved in converting 5-methylfolate (5MTHF) to tetrahydrofolate (THF) - a reaction that helps generate BH4. BH4 is important for the detoxification of ammonia, and it is a cofactor in the production of nitric oxide. In addition, BH4 acts as a rate limiting factor for the production of neurotransmitters and catecholamines including serotonin, melatonin, dopamine, norepinephrine, and epinephrine; a MTHFR A1298C + status may cause a decrease in any of these neurotransmitters or catecholamines.</p>

   <p>A dysfunctional BH4 enzyme may lead to mental/emotional and/or physical symptoms, and mercury, lead, and aluminum may act as a drain on BH4.</p>

   <p>Because you have the TT (normal) variant, your MTHFR A1298C gene is <em><b>not compromised.</b></em></p>

 </div>


 <div class="review-GT" style="display: none;">
   <p>MTHFR A1298C is involved in converting 5-methylfolate (5MTHF) to tetrahydrofolate (THF) - a reaction that helps generate BH4. BH4 is important for the detoxification of ammonia, and it is a cofactor in the production of nitric oxide. In addition, BH4 acts as a rate limiting factor for the production of neurotransmitters and catecholamines including serotonin, melatonin, dopamine, norepinephrine, and epinephrine; a MTHFR A1298C + status may cause a decrease in any of these neurotransmitters or catecholamines.</p>

   <p>A dysfunctional BH4 enzyme may lead to mental/emotional and/or physical symptoms, and mercury, lead, and aluminum may act as a drain on BH4.</p>

   <p>Because you have the GT (heterozygous) variant, your MTHFR A1298C gene is <em><b>about 30% compromised.</b></em></p>
 </div>



 <div class="review-GG" style="display: none;">
   <p>MTHFR A1298C is involved in converting 5-methylfolate (5MTHF) to tetrahydrofolate (THF) - a reaction that helps generate BH4. BH4 is important for the detoxification of ammonia, and it is a cofactor in the production of nitric oxide. In addition, BH4 acts as a rate limiting factor for the production of neurotransmitters and catecholamines including serotonin, melatonin, dopamine, norepinephrine, and epinephrine; a MTHFR A1298C + status may cause a decrease in any of these neurotransmitters or catecholamines.</p>

   <p>A dysfunctional BH4 enzyme may lead to mental/emotional and/or physical symptoms, and mercury, lead, and aluminum may act as a drain on BH4.</p>

   <p>Because you have the GG (homozygous) variant, your MTHFR A1298C gene is <em><b>about 70% compromised.</b></em></p>
 </div>

  <button class="js-back-to-profile medium-button" type="click">Back</button>
</div>
</main>

<footer class="footer">
    <p>Source: <a target="_blank" href="https://geneticgenie.org">geneticgenie.org/</a></p>
  </footer>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
  <script type="text/javascript" src="/js/review.js"></script>
  <link rel="stylesheet" type="text/css" href="/css/main.css">

</body>
</html>