* {
  box-sizing: border-box;
  font-family: 'Roboto', helvetica, sans-serif;
  line-height: 1.4em;
}

html {
  background: url("/images/dna.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
  /*background: grey;*/
 /* font-family: "Roboto", helvetica, sans-serif;
  padding: 40px 0 0;
  margin: 0;
  font-size: 20px;*/
}

p {
  font-size: 22px;
  font-weight: 500;
 /* line-height: 0.5em;*/
}

div.intro {
  width: 310px;
  padding: 0px;
  font-size: 20px;
  text-align: justify;
  margin-bottom: 20px;
}

div.report {
  width: 510px;
  padding: 0px;
  font-size: 20px;
  text-align: justify;
  margin-bottom: 20px;
}

p.profile-info {
  line-height: 1.2em;
  margin-top: 0;
  margin-bottom: 0;
}

fieldset {
  border: 0px;
}

input {
  margin-top: 10px;
  margin-bottom: 10px;
  width: 100%;
  height: 30px;
  font-size: 18px;
  border-radius: 5px;
}

input::placeholder {
  line-height: 25px;
  font-size: 14px;
}

input.error-msg-before {
  margin-bottom: 0;
}

input.error-msg-after {
  margin-top: 0;
}

input.edit-snp-input {
  width: 80%;
  display: block;
  margin: auto;
  text-align: center;
}

input.login-field {
  margin-top: 0px;
  border: 0px;
}

.long-button {
  width: 100%;
  margin-bottom: 10px;
}

.medium-button {
  width: 300px;
  margin-bottom: 10px;
  display: block;
}

.error-msg {
  color: white;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 13px;
}

.sure-msg, .no-report-msg {
  color: white;
  text-align: center;
}

a {
  text-decoration: none;
  color: black;
}

button {
  height: auto;
  font-size: 22px;
  font-weight: 500;
  text-align: center;
  color: black;
  background: white;
  border: 0;
  border-radius: 5px;
  cursor: pointer;
  margin: auto;
  margin-bottom: 10px;
  box-shadow: 0 3px 0 darkblue;
}

input.edit-error-msg-before {
  margin-bottom: 10px;
}

button.error-msg-after {
  margin-top: 10px;
}

button:hover {
  background-color: #0CB863;
  -webkit-transition: background 0.1s;
  -moz-transition: background 0.1s;
  -o-transition: background 0.1s;
  transition: background 0.1s;
}

.intro, .create, .login, .profile-view, .profile-actions {
  width: 410px;
  padding: 10px;
  border-radius: 5px;
  background: #2673AB;
/*  background: #298eea;
*/  margin: 0 auto;
}

.report {
  width: 600px;
  padding: 10px;
  border-radius: 5px;
  background: #2673AB;
  margin: 0 auto;
}



.profile-view {
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

.profile-actions {
  border-top-right-radius: 0px;
  border-top-left-radius: 0px;
}

.edit-snp, .delete-sure, .no-report {
  width: 200px;
  padding: 10px;
  border-radius: 5px;
  background: #2673AB;
/*  background: #298eea;
*/  margin: 0 auto;
}

.edit-snp {
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  padding-bottom: 0px;
}

.edit-account-button-div {
  width: 200px;
  padding: 10px;
  border-radius: 5px;
  background: #2673AB;
/*  background: #298eea;
*/  margin: 0 auto;
}

.edit-account-button-div {
  padding-top: 0px;
  margin-top: 0px;
  border-top-right-radius: 0px;
  border-top-left-radius: 0px;
}

/*.edit-snp {
  margin-bottom: 0px;
}*/

.profile-information {
  width: 300px;
  padding: 10px;
  border-radius: 5px;
  background: white;
  margin: 0 auto;
  text-align: left;
  font-size: 18px;
/*  color: white;
*/}

/*.profile-name, .profile-username, .profile-snp {
  width: 300px;
  padding: 10px;
  border-radius: 5px;
  background: white;
  margin: 0 auto;
  font-size: 18px;
  margin-bottom: 10px;
  margin-top: 10px;
  text-align: left;
}*/

h2 {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

.create-account-button, .edit-snp-button, .back-button {
  width: 80%;
  display: block;
  margin-top: 20px;
}

.edit-snp-button {
  margin-bottom: 0px;
  padding-bottom: 0px;
  margin-top: 30px;
}

.login-button {
  margin-top: 20px;
}

.back-button {
  width: 65%;
  margin-top: 0px;
}

.footer {
  text-align: center;
  color: white;
  margin: 20px auto;
  font-weight: 600;
  border: 0;
  padding: 0;
}

.footer a {
  color: white;
}

.footer a:hover {
  color: #0CB863; 
}


